/*

out.d/

!/20-generic-function.d/
!/30-var.d/
!/40-path_init_sh.d/
!/45-option_sh.d/
!/50-alias.d/
!/60-function.d/
!/70-prompt.d/
!/75-completion_sh.d/
!/80-environnement_init.d/
!/bin/
!/makeable/
!/sc/

!/.gitignore
!/README.md
